[submodule "mtd/mtd-utils"]
	path = mtd/mtd-utils
	url = git://git.infradead.org/mtd-utils.git
[submodule "gpio/libgpiod"]
	path = gpio/libgpiod
	url = git://git.kernel.org/pub/scm/libs/libgpiod/libgpiod.git
[submodule "uart/linux-serial-test"]
	path = uart/linux-serial-test
	url = https://github.com/cbrake/linux-serial-test.git
[submodule "i2c/i2c-tools"]
	path = i2c/i2c-tools
	url = git://git.kernel.org/pub/scm/utils/i2c-tools/i2c-tools.git
